body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Page */

.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
    z-index: 1;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Space between left and right elements */
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between logo and search bar */
    margin-left: 20px;
    flex-grow: 1; /* Allows the container to grow and use available space */
}

.header-top {
    margin-bottom: 20px; /* Space below the header top */
}

.header-bottom {
    margin-top: 20px; /* Space above the header bottom */
}

.header-top-left, .header-bottom-left {
    margin-left: 20px;
}

.header-top-right, .header-bottom-right {
    margin-right: 20px;
}

.search-bar {
    padding: 0.5em 1em;
    width: 100%; /* Adjusted width to fill the container */
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    text-align: left;
}

.search-bar::placeholder {
    text-align: left;
    opacity: 1; /* Ensure placeholder is always visible */
}

.search-bar:focus {
    border-color: #aaa;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.header-button {
    padding: 0.5em 1em;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #757575; /* Greyscale background */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase; /* Optional: Modern look with uppercase text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.header-button:hover {
    background-color: #5a5a5a; /* Slightly darker shade on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.title {
    margin-left: 10px;
}

/* Sidebar Page */

.sidebar {
    grid-area: sidebar;
    background-color: #555;
    color: white;
    padding: 20px;
    z-index: 2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    margin: 5px 0;
    border: none;
    background-color: transparent;
    color: inherit;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-button-header {
    display: flex;
    align-items: center;
    padding: 2.5em 3em; /* Increased padding for larger size */
    margin-left: -50px;
    margin-top: -50px;
    border: none;
    background-color: transparent;
    color: inherit;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em; /* Increased font size */
}

.sidebar-button:hover, .sidebar-button-header:hover {
    background-color: #f0f0f0; /* Adjust hover background color as needed */
}

.material-symbols-outlined {
    /* Your existing styles */
    margin-right: 20px; /* Space between icon and text */
}

/* Content Page */

.content {
    grid-area: content;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, calc(50% - 10px)); /* 2 rows, adjust height */
    gap: 20px; /* Adjust gap as needed */
}

.grid-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full height of the grid area */
}

.grid-item {
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1; /* Allows the grid item to fill the container */
    display: flex;
    align-items: center;
    width: 100%; /* Full width of the container */
    margin-top: 30px; /* Space for the title */
    flex-direction: column; /* Stack title and content vertically */
    justify-content: start; /* Align content to the start of the flex container */
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.grid-top-title {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 1em;
    color: #333;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item-title {
    font-size: 1em; /* Adjust the font size as needed */
    color: #333; /* Title text color */
    margin-bottom: 50px; /* Space between the title and the content */
    margin-top: 40px;
}

.grid-item-content {
    font-size: 0.9em; /* Adjust the font size as needed */
    color: #666; /* Content text color */
    margin-left: 20px;
    margin-right: 20px;
    /* Additional styling as needed */
}

